body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: hsl(206, 27%, 25%);
    color: white;
    padding: 10px 0px 100px 0px;
    
}

nav{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 680px;
    align-items: center;
    
}

.logo{
    width: auto;
    height: 60px;
    border-radius: 50%; 
    margin-right: 58px;  
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
    
}
ul li a{
    text-decoration: none;
    color: white;

}
.desc{
    display: flex;
    justify-content: center;
    font-size: 18px;
    gap: 70px;

}

.banner{
    width: 550px;
    height: 250px;
    margin-right: auto;
}
strong{
font-size: 55px;
}
button{
    background-color:  hsl(192, 83%, 54%);
    color: white;
    border: 1px solid hsl(180, 24%, 21%);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    width: 120px;
    height: 40px;
    border-radius: 5px;
}  
/*section 1*/
.info{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin: 50px 0 50px 0;
}
.section1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    text-decoration: wavy;
    gap: 25px;
    padding-bottom: 50px;
}
.img{
    text-align: center;
    width: 200px;
    height: 150px;
    border: 1px solid blue;
    border-radius: 10px;
}

/*section 2 */
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(235, 235, 235, 1);
    padding-top: 70px;
    padding-bottom: 70px;  

}
.citation{
    color: rgb(86, 93, 119);
    font-size: 25px;  
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    width: 55%;
    padding-bottom: 10px;
    
}
.auteur{
    align-self: flex-end;
    font-weight: bold;
    font-size: 18px;
    margin-right: 490px;
}
/* section 3*/
.section3{
    background-color: white;
    height: 150px;
    margin: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
   
}
.action{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: hsl(204, 100%, 55%);
    gap: 630px;
    padding: 40px 80px 40px 80px;
    border-radius: 10px; 
}

.section3 button{
    background-color: hsl(204, 100%, 55%);
    border: 1px solid white;
}

em{
    font-size: 10px;
    font-style: normal;
}

/* footer*/

footer{
    background-color: hsl(206, 27%, 25%);
    color: white;
    height: 80px;
    text-align: center;
    font-size: 12px;
   padding-top: 80px;
}
